body {
  background-color: #25262C;
} 

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #7c7a7a; 
}
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66); 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.App {
  display: flex;
  height: 100vh;
  color: white;
}

.HomePage  {
  margin-top: 10px;
}

.posts {
  height: 100%;
  width: 230px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  box-shadow: 6px 0px 9px 1px rgb(255 255 255 / 12%);
}

.posts .link {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
  display: block;
}
.routes {
  width: 100%;
  margin-left: 250px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.home {
  position: absolute;
  right: 25px;
}
.post {
  margin-top: 10px;
  font-size: 15px;
}

/* @media screen and (max-width:783px) {
  .posts {
    
  }
  
} */




